spring:
  application:
    name: tableLink

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/${SCHEMA_NAME}
    username: root
    password: ${LOCAL_DB_PW}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

jwt:
  secret: ${SECRET_KEY}
  expiration-time: ${EXPIRATION_TIME} # 1시간: 1 * 60 * 60 * 1000 = 3600000
  refresh-expiration-time: ${REFRESH_EXPIATION_TIME} # 3시간: 3 * 60 * 60 * 1000 = 3600000


